<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense-Tracker</title>
  <!-- CSS only -->
  <script src="https://kit.fontawesome.com/24f8af8211.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <b>{{#if isAuthenticated}}{{user.name}}的{{/if}}家庭記帳本</b>
        </a>
        {{#if isAuthenticated}}
        <div class="text-right">
          <a href="/users/logout"><button class="log-btn btn btn-secondary btn-outline-light">登出</button></a>
        </div>
        {{/if}}
      </div>
    </nav>
  </header>
  <div class="container">
    {{{ body }}}
  </div>

</body>

</html>