.container-edit,
.container-new {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.login-card,
.register-card {
  margin: 20px auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.edit-title {
  display: flex;
  justify-content: space-between;
}

.edit-group-item {
  display: flex;
  margin: 5px 2px;
  justify-content: space-between;
}

.login-btn,
.register-btn {
  margin: auto;
  background-color: rgb(231, 69, 28);
  color: rgb(255, 255, 255);
  width: 120px;
}

.record-btn {
  background-color: white;
  color: rgb(60, 59, 59);
  border-color: grey;
  width: 120px;
}

.log-btn {
  background-color: white;
  color: orangered;
  border-color: grey;
}